#
#   Author: Rohith
#   Date: 2015-07-20 19:41:37 +0100 (Mon, 20 Jul 2015)
#
#  vim:ts=2:sw=2:et
#

bin/
*.iml
*.swp
nodes.yml
pods.yml
/tests/api/v1

*.o
*.a
*.so
embassy
release/
stage/embassy
embassy.iml
.idea/

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
